<!-- to include header.ejs file using ejs -->
<%- include("partials/header"); -%>

<h1>About</h1>
<p><%= aboutContent %></p>

<!-- to include footer.ejs file using ejs -->
<%- include("partials/footer"); -%>