<!-- to include header.ejs file using ejs -->
<%- include("partials/header"); -%>

<h1><%= title %></h1>
<p><%= content %></p>

<!-- to include footer.ejs file using ejs -->
<%- include("partials/footer"); -%>